@import url("https://fonts.googleapis.com/css?family=Rubik");
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #1D1F20;
  font-family: Rubik; }

.header_ {
  height: 20%;
  background: linear-gradient(135deg, #FF4B1F 0, #1FDDFF 100%); }

.head_content {
  color: white;
  font-size: 3em; }

.nav_bar {
  color: white; }

.main_content {
  height: 80%;
  background: white;
  flex-wrap: wrap; }

.item {
  background: darkgrey;
  height: 20%;
  width: 100%; }
  .item:hover {
    cursor: pointer;
    opacity: 0.8; }

.item, .main_content, .header_ {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }
