doctype
html
  head
    link(rel='stylesheet', href='styles.css')
    .header_
      .nav_bar
        | Heh, greetings.
    .main_content
      .item Project 1
      .item Project 2
      .item Project 3
      .item Project 4
