block config

  - var name = 'Zack'
  - var age = 25
  
doctype html
html
  head
    link(type='text/css' rel='stylesheet' href='../css/main.css')
  body
    .header_
      .nav_bar
        a About
        a Projects
        a Contact
      .head_content
        | Lorem Ipsum
    .main_content
      .item Project 1
      .item Project 2
      .item Project 3
      .item Project 4
      .item Project 5
  block m
    h2 Hello
