@import "bourbon/bourbon"
@import url("https://fonts.googleapis.com/css?family=Rubik")

//http://firepit.io/
//*
  //border: 1px solid black

body, html
  margin: 0
  padding: 0
  height: 100%
  background: #1D1F20
  font-family: Rubik

.header_
  height: 20%
  //Ali
  background: linear-gradient(135deg, #FF4B1F 0, #1FDDFF 100%)
  //Tranquil
  //background: linear-gradient(135deg, #EECDA3 0, #EF629F 100%)


.head_content
  color: white
  //text-shadow: 0 15px 12px rgba(0, 0, 0, 0.18)
  font-size: 3em

.nav_bar
  color: white

.main_content
  height: 80%
  background: white
  flex-wrap: wrap

.item
  background: darkgrey
  height: (100%/5)
  width: 100%
  &:hover
    cursor: pointer
    opacity: 0.8

.item, .main_content, .header_
  display: flex
  align-items: center
  justify-content: center
  text-align: center
